params {
    input_csv = "${projectDir}/samplesheet.csv"
    bowtie2_index = '/data/xrz/ref/hg38_HBV_A_bowtie2/hg38_HBV_A'
    chrom_sizes = "${projectDir}/hg38_original_chrom_sizes.tsv"
    genome_fragment = "${projectDir}/hg38_HBV_A_MboI.bed"
    ligation_site = 'GATCGATC'
    bin_size = '5000 10000 100000 1000000'
    hicpro = '/home/xrz/HiC-Pro/HiC-Pro_3.1.0/bin/HiC-Pro'
    hicpro_cpus = 16
    adapter_r1 = 'CTGTCTCTTATACACATCT'
    adapter_r2 = 'CTGTCTCTTATACACATCT'
    min_read_length = 2
    adapter_overlap = 1
    sort_ram = '1000M'
    min_mapq = 10
    bowtie2_global_options = '--very-sensitive -L 30 --score-min L,-0.6,-0.2 --end-to-end --reorder'
    bowtie2_local_options = '--very-sensitive -L 20 --score-min L,-0.6,-0.2 --end-to-end --reorder'
    allele_specific_snp = ''
    capture_target = ''
    report_capture_reporter = 1
    min_frag_size = ''
    max_frag_size = ''
    min_insert_size = ''
    max_insert_size = ''
    min_cis_dist = ''
    get_all_interaction_classes = 1
    get_process_sam = 0
    rm_singleton = 1
    rm_multi = 1
    rm_dup = 1
    matrix_format = 'upper'
    max_iter = 100
    filter_low_count_perc = 0.02
    filter_high_count_perc = 0
    eps = 0.1
}

process {
    executor = 'local'
    cpus = 16
    maxForks = 2
    errorStrategy = 'terminate'
}

cleanup = false
outputDir = "/data/xrz/PLAC/output"
workflow.output.mode = 'copy'
report.overwrite = true
timeline.overwrite = true
trace.overwrite = true

// FitHiChIP parameters. Interval, Matrix and ValidPairs come from HICPRO outputs.
params {
    fithichip_dir = '/home/xrz/FitHiChIP'
    fithichip_cpus = 16
    fithichip_peak_file = '' // Shared BED/narrowPeak, or a sample-name-to-path map.
    fithichip_read_length = 150 // Read length for PeakInferHiChIP.sh.
    fithichip_peak_genome = 'hs'
    fithichip_macs2_options = '-q 0.05 --nomodel --shift 0 --extsize 200 --keep-dup all -B --SPMR --nolambda'
    fithichip_bin_size = 5000
    fithichip_circular_genome = 0
    fithichip_int_type = 3
    fithichip_low_dist = 20000
    fithichip_upp_dist = 2000000
    fithichip_bias_type = 1
    fithichip_merge_int = 1
    fithichip_qvalue = 0.05
    fithichip_prefix = 'FitHiChIP'
    fithichip_overwrite = 0
    fithichip_nbins = 200
    fithichip_draw = 0
    fithichip_time_prof = 0
    fithichip_ref_fasta = ''
    fithichip_mappability_file = ''
    fithichip_re_fragment = ''
    fithichip_gc_size = 200
    fithichip_mapp_size = 500
}
